body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1506102383123-c8ef1e872756?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
}

.clock{
    display: flex;
    position: relative;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background-color: rgb(19, 48, 191);
    opacity: .8;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.clock .text .class {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkred;
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: relative;
    align-items: center;
    width: 50px;
    height: 30px;
    font-size: 30px;
    background: rgb(232, 56, 7);
}