@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   padding: 100px;
}
.container h1 {
    font-size: 50px;
    font-weight: 800;
}
