*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'sans-serif;
}
body{
    background-image: url(assets/homepage.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    padding: 12px 3px;
    align-items: center;
    justify-content: space-around;
}
.logo{
    margin: 0px 23px;
    cursor: pointer;
}
ul{
    display: flex;
    margin: 0px 13px;
    cursor: pointer;
}
ul>li{
    list-style: none;
    margin: 0px 13px;
    cursor: pointer;
    color: #ffc223;
}
.order button{
    height: 40px;
    width: 80px;
    background-color: #ff515f;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.container h1 {
    font-size: 70px;
    font-weight: 800;
    color: #f4b005;
}
.container button{
    height: 40px;
    width: 120px;
    background-color: #ff515f;
    color: #fff;
    border-radius: 10px;
}
.scroll img {
    padding-left: 1000px;
}