*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'sans-serif;
}
body{
    background: #fff,fixed;
}
nav{
    display: flex;
    padding: 10px 3px;
    align-items: center;
    justify-content: space-around;
}
.logo{
    margin: 0px 23px;
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    padding: 0px 13px;
}
ul>li{
    list-style: none;
    padding: 0px 13px;
    cursor: pointer;
}
.button button{
    background-color: #5955b3;
    color: #fff;
    height: 30px;
    width: 70px;
    border-radius: 5px;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 30px;
}
.left-section h1{
    font-size: 70px;
    color: #3c2f60;
}
.left-section h1 span{
    color: #5955b3;
}
.left-section p{
    margin-top: 10px;
    color: #828282;
}
.left-section button{
    height:50px ;
    width:15opx ;
    border-radius: 5px;
    color: #fff;
    background-color: #5955b3;
    margin-top: 30px;
    margin-left: 30px;
}